[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
click = "*"
mimesis = "*"
python-dotenv = "*"

[dev-packages]
pytest = "*"
mimesis = "*"
"flake8" = "*"

[requires]
python_version = "3.6.6"
